{% extends "base.html" %}
{% load static %}

{% load i18n %}


{% block title %}
    تغيير كلمة المرور
{% endblock title %}


{% block stylesheets %}

<link rel="stylesheet" href="{% static 'assets/css/auth-forms.css' %}">

{% endblock stylesheets %}
    
    

{% block content %}
<section>
    <div class="container">
        <h1>{% trans "Change Password" %}</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-solid-dark" name="action">{% trans "Change Password" %}</button>
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
</section>

{% endblock %}