.grid {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem; 
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    max-width: 200px;
    padding: 1rem; 
    background: #f1f1f1;
    min-height: 200px;
}