@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200;300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Changa', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--secondary-color);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

:root {
    --primary-color: #202125;
    --secondary-color: #f1f1f1;
}


@keyframes showMenu {
    from {
        left: -200px; 
    } to {
        left: 0;
    }
}


body::before {
    content:  "" ;
    min-width: 100vw; 
    height: fit-content;
    background: #20212550; 
    position: absolute;   
    z-index: -1; 
    top:0;
    left:0;
}

.container{
    margin: 0 auto; 
}


/* HEADER STYLE */

nav {
    background-color: var(--primary-color);
    height: 80px;
}

nav a, nav h2 a {
    text-decoration: none !important;
}

nav .container {
    height: 100%;
    display: flex;
    padding: 0 1rem;
    align-items: center;
}

nav .logo-container {
    flex: 1;
    /* margin-left: 3rem; */
}


nav .logo-container .logo {
    font-size: 1.2rem;
    font-weight: 400;
}
  
nav  ul {
    flex: 2;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 2rem;
}

nav .list-item {
    color: var(--secondary-color);
    text-decoration: none;
}

nav .buttons {
    flex: 1;
    min-width: fit-content;
}

nav .buttons a {
    display: inline-block;
    text-decoration: none;
}

.menu {
    margin-right: 1rem;
    display: none;
}

.menu i {
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.menu a {
    cursor: pointer;
}

.normal-text {
    color: var(--secondary-color);
    text-decoration: none;
}




/* BUTTON STYLE */

.btn {
    display: inline-block;
    padding: .25rem 1.25rem ;
    border-radius: 30px;
    cursor: pointer; 
    text-decoration: none;
    outline: none;
    bordeR: none;
}

.btn-solid-light {
    background: var(--secondary-color);
    color: var(--primary-color) !important;
}

.btn-solid-dark {
    background: var(--primary-color);
    color: var(--secondary-color);
}

.btn-outline-dark {
    background: transparent;
    border: 2px solid #1e1e1e;
    color: #1e1e1e !important;
}

.btn-outline-light {
    background: transparent;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color); 
}

.btn-lg {
    transform: scale(1.3)
}

/* MAIN STYLE */
main {
    height: 400px; 
}

main .container, main .container div {
    height: 100%;
}

main .container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}


/* section styling */

section {
    margin: 1.5rem 0;
}

.section__heading {
    text-align: center;
    margin-bottom: 1rem;;
}

.section__heading__description {
    opacity: 0.85;
}


/* grid */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) ;
    gap: 1.5rem; 
}

.item {
    padding: 1rem; 
    /* background: #f1f1f1; */
    min-height: fit-content;
}

.item.framework {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.item.framework img {
    max-width: 100%;
}


/* MESSAGE STYLING */
.errorlist  li {

    list-style: none;
    background: #f7d7da;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    
}

/* INPUT STYLING */

input[type=text], input[type=password], input[type=email], input[type=number] {
    border-radius: 5px;
    border: none; 

    padding: .4rem 1rem;
    filter: drop-shadow(2px 4px 10px #12121280);
    width: 300px;
    max-width: 100% !important;
}


select {
    border-radius: 5px;
    width: 100%;
    border: none;
    padding: .5rem; 
    max-width: 100%;
}

/* Apply light background color to the select element */
select {
    background-color: #f2f2f2;
}

/* Apply light background color to the selected options */
option {
    padding: .5rem 0 ;
}
option[selected] {
    background-color: #748A8C;
    color: var(--primary-color)
}


/* A HREF Styling */

a { 
    color: #dfe6e9;
    transition: color .4s ease-in-out;
}


form .field {
    margin-bottom: 1rem;
}

form .field:last-child {
    margin-bottom: 0;
}



@media (max-width: 575.98px) {  
    .container {
        width: 90%; 
    }
    header .container {
        flex-direction: column;
    }
    header .container nav ul {flex-direction: column; align-items: center; justify-content: center; row-gap: 1rem;}
    
    input[type=text], input[type=password], input[type=email], input[type=number] {
        width: 100%;
    }

    nav .buttons {
        display: none;
    }
      nav ul {
        width: 100%;
    }

}


@media (min-width: 576px) and (max-width: 767.98px) {  
    .container {
        width: 580px;
    }
    header .container {flex-direction: column;}
    header .container nav ul {flex-direction: column; align-items: center; justify-content: center; row-gap: 1rem;}

}


@media (min-width: 768px) and (max-width: 991.98px) {  
    .container {
        width: 770px;
    }
}

@media screen and (max-width: 920px) {

    .logo-container {
        flex: 0.5;
      }
    .buttons {
        flex: 2;    
    }
    .menu {
        display: block;
    }
    nav ul {
        position: absolute;
        background: var(--primary-color);
        top: 80px;
        left: -200px;
        line-height: 2.6;
        width: 200px;
        max-width: 100%;
        display: none;
    }
    nav ul.show {
        z-index: 10000;
        display: block;
        animation: showMenu 0.5s forwards;
    }

    nav ul li {
        margin-bottom: 0.4rem;
        padding: 0.5rem 0.5rem;
        transition: all 0.2s ease-in-out;
    }
    nav ul li:hover {
        background: #1e1e1e;
    }
    nav ul li:hover > a {
        color: #f9f9f9;
    }

}


@media (min-width: 992px) and (max-width: 1199.98px) {  
    .container {
        width: 995px;
    }
}

@media (min-width: 1200px) {  
    .container {
        width: 1300px;
    }
} 
