{% extends 'base.html' %}
{% load static %}



{% block title %}
    الخطط والأسعار
{% endblock title %}
    


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/plans.css' %}">
{% endblock stylesheets %}



{% block content %}
    
    
    <section>
        <div class="section__heading">
            <h1 class="section__heading__title">الخطط والأسعار</h1>
            <p class="section__heading_description">مع باقات سلة الحقول يمكنك انجاز قواعد البيانات لمشاريع في دقائق معدودة</p>
        </div>

        <div class="container">
            <div class="grid">
                
                {% for plan in plans %}
                <div class="item">
                    <h2>{{plan.price}}$</h2>
                    <h1>{{plan.name}}</h1>
                    <p>{{plan.description}}</p>
                    <a href="{% url 'subscriptions:plan-details' plan.name %}" class="btn btn-solid-light">اشترك الآن!</a>
                </div>
                {% endfor %}
                    

            </div>
        </div>

    </section>

{% endblock content %}
    