{% extends 'base.html' %}
{% load static %}



{% block title %}
    {{plan}}
{% endblock title %}
    


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/plans.css' %}">
{% endblock stylesheets %}



{% block content %}
    
    
    <section>
        <div class="section__heading">
            <h1 class="section__heading__title">{{plan}}</h1>
            <p class="section__heading__description">{{plan.description}}</p>
        </div>

        <div class="container">
            <div class="grid">
                
              
              {% if user.subscription %}
                
              <div class="item" style="height: 300px;">
                <h2>أنت مشترك في الباقة "{{user.subscription.plan.name}}"</h2>
                <h4>منذ  {{user.subscription.start_date}} إلى {{user.subscription.end_date}}</h4>
                <a href="{% url 'pages:index' %}" class="btn btn-outline-light">العودة للصفحة الرئيسية</a>
              </div>
              
              {% else %}
              <div class="item">
                <h2>{{plan.price}}$</h2>
                <h1>{{plan.name}}</h1>
                <p>{{plan.description}}</p>
                <a href="#" id="btn-create-subscription" class="btn btn-solid-light">تواصل مع الدعم الفني</a>
                
                <div id="paypal-button-container"></div>
                
              </div>
              {% endif %}
              
            </div>
        </div>

    </section>


    <script src="https://www.paypal.com/sdk/js?client-id={{paypal.client_id}}"></script>


    <script>



        // my ajax request 

        $("#btn-create-subscription").click(function () {

        })


        function initPayPalButton() {
          paypal.Buttons({
            style: {
              shape: 'rect',
              color: 'gold',
              layout: 'vertical',
              label: 'paypal',
              
            },
            createOrder: function(data, actions) {
              return actions.order.create({
                purchase_units: [{"amount":{"currency_code":"{{paypal.currency}}",
                
                "value": '{{plan.price}}'
              
              }}]
              });
            },
            onApprove: function(data, actions) {
              return actions.order.capture().then(function(orderData) {
                
                // Full available details
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
      

                var start_date = new Date() 
            
                $.ajax({
                    url: "{% url 'subscriptions:create-subscription' %}",
                    method: 'POST', 
                    data: {
                        plan: '{{plan}}',
                        start_date: Date.now(), 
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    }, success: (reponse) => {
                        // alert('subscription has been created')
                        $('.item').html(reponse) 
                    }, error: function (xhr, error) {
                        console.log(xhr)
                        console.log(error) 
                    }
                })


      
                // Or go to another URL:  actions.redirect('thank_you.html');
                
              });
            },
      
            onError: function(err) {
              console.log(err);
            }
          }).render('#paypal-button-container');
        }
        initPayPalButton();
    </script>
      

{% endblock content %}
    