{% extends 'base.html' %}
{% load static %}



{% block title %}
    الأنظمة وقواعد البيانات
{% endblock title %}
    


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/frameworks.css' %}">
{% endblock stylesheets %}
    


{% block content %}
    
    

    <section>
        <div class="section__heading">
            <h1 class="section__heading__title">
    الأنظمة وقواعد البيانات
            </h1>
            <p class="section__heading__description">أشهر قواعد البيانات والـ ORM</p>
        </div>
        <div class="container">
            <div class="grid">

                
                {% for system in systems %}
                <div class="item framework">
                    <!-- <h1 style="color:var(--primary-color)">{{system}}</h1> -->
                    <a href="{% url 'system:framework-details' system.slug %}">
                        <img src="{{system.img.url}}" alt="">
                    </a>
                </div>                    
                {% endfor %}
                    

            </div>
        </div>
    </section>


{% endblock content %}

