{% extends 'base.html' %}
{% load static %}



{% block title %}
    {{system}}
{% endblock title %}



{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/framework-details.css' %}">
{% endblock stylesheets %}
    



{% block content %}
    
    

    <section>
        <div class="section__heading">
            <h1 class="section__heading__title">{{system}}</h1>
            <p class="section__heading__description">
                {{system.overview}}
            </p>
        </div>
        <div class="container">
            <div class="grid">
                
                {% for field in system.field_set.all %}
                    <div class="item framework">
                        <h2>{{field.f_type}}</h2>
                        <p>{{field.syntax|truncatechars:10}}</p>
                        <p hidden id="field_syntax">{{field.syntax}}</p>
                        <button class="btn btn-lg btn-solid-dark btn-copy">نسخ الكود</button>
                    </div>                    
                {% endfor %}
                    

            </div>
        </div>
    </section>


    <!-- قسم هل تواجه مشكلة -->
    <section>
        <div class="container">
            
        </div>
    </section>

    <!-- Javascript Code for Copy Function -->


    <script>

        let btnCopy = document.querySelectorAll('.btn-copy');
        
        btnCopy.forEach((btn) => {
            btn.addEventListener('click', () => {
                let textToCopy = btn.parentElement.querySelector('#field_syntax').textContent
                let textArea = document.createElement('textarea'); 
                document.body.appendChild(textArea); 
                textArea.value = textToCopy; 
                textArea.select(); 
                document.execCommand('copy'); 
                document.body.removeChild(textArea); 
            })
        })

    </script>



{% endblock content %}
