.item.framework {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    row-gap: 1rem;
    transition: all .5s ease-in-out;
}

.item {
    min-height: 150px;
    cursor: pointer; 
    background: transparent !important;
}


.item::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    z-index: -1; 
    background: hsl(0 0% 0%/ .4);  
    filter: blur(10p);
}

.item.framework h2{
    color: var(--secondary-color) !important;
}
