{% extends 'base.html' %}
{% load static %}


{% block title %}
    الصفحة الرئيسية
{% endblock title %}



{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
{% endblock stylesheets %}
    
    

{% block content %}
    
    
    <main>
        <div class="container">
            <div>
                <h1>قاعدة بيانات لمشروعك في 10 دقائق !</h1>
                <p>
                    توفر لك منصة "سلة الحقول" جميع حقول قواعد البيانات لأشهر أنظمة قواعد البيانات والـ ORM الموجودة

                </p>
                <a href="{% url 'pages:plans' %}" class="btn btn-solid-dark btn-lg">اشترك الآن</a>
            </div>
        </div>
    </main>

    <section class="frameworks">
        <div class="section__heading">
            <h1 class="section__heading__title">أنظمة قواعد البيانات</h1>
            <p class="section__heading__description">أشهر أنظمة قواعد البيانات في عالم البرمجيات</p>
        </div>
        <div class="container">
            <div class="grid">
                
                {% for system in systems %}
                    <div class="item framework">
                        <a href="{% url 'system:framework-details' system.slug %}">
                            <!-- <img src="{% static './assets/imgs/django.png' %}" alt=""> -->
                            <img src="{{system.img.url}}" alt="">
                        </a>
                    </div>
                {% endfor %}
                    


            </div>
        </div>
    </section>

{% endblock content %}


</body>
</html>