{% extends 'base.html' %}
{% load static %}


{% block title %}
    الصفحة الرئيسية
{% endblock title %}



{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
{% endblock stylesheets %}
    
    

{% block content %}
    
    {% if not user.subscription %}
    <main>
        <div class="container">
            <div>
                <!-- <h1>قاعدة بيانات لمشروعك في 10 دقائق !</h1> -->
                <h1>
                    {{main_info.heading}}
                </h1>
                <p>
                    {{main_info.sub_heading}}
                </p>
                <a href="{{main_info.btn_link}}" class="btn btn-solid-dark btn-lg">{{main_info.btn_text}}</a>
            </div>
        </div>
    </main>
    {% endif %}

    <section class="frameworks">
        <div class="section__heading">
            <h1 class="section__heading__title">أنظمة قواعد البيانات</h1>
            <p class="section__heading__description">أشهر أنظمة قواعد البيانات في عالم البرمجيات</p>
        </div>
        <div class="container">
            <div class="grid">
                
                {% for system in systems %}
                    <div class="item framework">
                        <a href="{% url 'system:framework-details' system.slug %}">
                            <!-- <img src="{% static './assets/imgs/django.png' %}" alt=""> -->
                            <img src="{{system.img.url}}" alt="">
                        </a>
                    </div>
                {% endfor %}
                    


            </div>
        </div>
    </section>

{% endblock content %}


</body>
</html>