<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/master.css">
    <link rel="stylesheet" href="./assets/css/plans.css">
    <title>سلة الحقول</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo-container">
                <h1>
                    <a href="index.html" class="normal-text">
                        سلة الحقول
                    </a>
                </h1>
            </div>
            <nav>
                <ul>
                    <li><a href="" class="list-item">الرئيسية</a></li>
                    <li><a href="frameworks.html" class="list-item">قواعد البيانات</a></li>
                    <li><a href="" class="list-item btn btn-solid-light">تسجيل دخول</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="section__heading">
            <h1 class="section__heading__title">الباقات</h1>
            <p class="section__heading_description">مع باقات سلة الحقول يمكنك انجاز قواعد البيانات لمشاريع في دقائق معدودة</p>
        </div>

        <div class="container">
            <div class="grid">
                <div class="item">
                    <h2>25$</h2>
                    <h1>الأساسية ⭐</h1>
                    <a href="#" class="btn btn-solid-light">اشترك الآن!</a>
                </div>
                <div class="item">
                    <h2>25$</h2>
                    <h1>الأفضل 🔥🔥</h1>
                    <a href="#" class="btn btn-solid-light">اشترك الآن!</a>
                </div>
                <div class="item">
                    <h2>25$</h2>
                    <h1>الفرق 👨</h1>
                    <a href="#" class="btn btn-solid-light">اشترك الآن!</a>
                </div>
            </div>
        </div>

    </section>

    

</body>
</html>