{% extends 'base.html' %}
{% load static %}



{% block title %}
    الخطط والأسعار
{% endblock title %}
    


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'assets/css/plans.css' %}">
{% endblock stylesheets %}



{% block content %}
    
    
    <section>
        <div class="section__heading">
            <h1 class="section__heading__title">الخطط والأسعار</h1>
            <p class="section__heading_description">مع باقات سلة الحقول يمكنك انجاز قواعد البيانات لمشاريع في دقائق معدودة</p>
        </div>

        <div class="container">
            <div class="grid">
                <div class="item">
                    <h2>25$</h2>
                    <h1>الأساسية ⭐</h1>
                    <a href="#" class="btn btn-solid-light">اشترك الآن!</a>
                </div>
                <div class="item">
                    <h2>25$</h2>
                    <h1>الأفضل 🔥🔥</h1>
                    <a href="#" class="btn btn-solid-light">اشترك الآن!</a>
                </div>
                <div class="item">
                    <h2>25$</h2>
                    <h1>الفرق 👨</h1>
                    <a href="#" class="btn btn-solid-light">اشترك الآن!</a>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}
    